<!DOCTYPE html>
<html>
<head>
	<title>Packlist - {{ packlist.name }}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
	<style type="text/css">
		body {
		  font-family: system, -apple-system,
		      ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande";
		}

		pl-items p {
			margin: 0;
		}

		p.item-name {
			font-weight: bold;
			margin: 0;
		}

		td.pl-weight {
			text-align: right;
		}

		.pl-items {
			width: 100%;
		}

		section {
			max-width: 800px;
			margin: 0 auto;
		}
	</style>
</head>
<body>
	<div class="pl-categories">

		<h1>{{ packlist.name }}</h1>


		{{#each packlist.categories}}
		<section>
			<h2>{{ name }}</h2>

			
			<table class="pl-items">
				{{#each items}}
					<tr>
						<td>
							<p class="item-name">{{name}}</p>
							<p>{{ description }}
						</td>
						<td class="pl-weight">
							{{ total_weight.grams }}
						</td>
					</tr>
				{{/each}}
			</table>

		</div>
		{{/each}}
	</section>
</body>
</html>