<!DOCTYPE html>
<html>
	<head>
		<title>Packlist - <%= packlist.name %></title>
		<style type="text/css">
				<%= styles %>
		</style>
	</head>
	<body>
		<header>
			<h1><%= packlist.name %></h1>
			<p><%= packlist.description %></p>
			<div class="summary">
				<h2>Summary</h2>
				<table class="horizontal">
					<tr>
						<th>Base weight</th>
						<td class="quantity"><%= "#{'%.1f' % packlist.base_weight.pounds} lb" %></td>

						<th>Items</th>
						<td><%= packlist.item_count %></td>
					</tr>
					<tr>
						<th>Max pack weight</th>
						<td class="quantity"><%= "#{'%.1f' % packlist.total_pack_weight.pounds} lb" %></td>

						<th>Total Quantity</th>
						<td><%= packlist.total_quantity%></td>

					</tr>
					<tr>
						<th>Max weight</th>
						<td class="quantity"><%= "#{'%.1f' % packlist.total_weight.pounds} lb" %></td>
					</tr>
				</table>
			</div>
		</header>

		<div class="categories">
			<% for category in packlist %>
			<div class="category">
				<h2><%= category.name %></h2>

				<table>
					<tfoot>
						<tr>
							<td colspan="2"></td>
							<td class="subtotal" colspan="2">Subtotal</td>
							<td class="quantity">
								<%= "#{'%.0f' % category.total_quantity}" %>
							</td>
							<td class="numeric">
								<%= "#{'%.0f' % category.total_weight.grams} g" %>
							</td>
							<td class="numeric">
								<%= "#{'%.2f' % category.total_weight.pounds} lb" %>
							</td>
						</tr>
					</tfoot>
					<tbody>
						<% for item in category %>
						<tr>
							<td>
								<input type="checkbox">
							</td>
							<td class="item-type">
								<% if item.worn? %>
								W
								<% elsif item.consumable? %>
								C
								<% end %>
							</td>
							<td class="item-name">
								<%= item.name %>
							</td>
							<td class="item-description">
								<%= item.description %>
							</td>
							<td class="quantity">
								<% if item.quantity != 1 %>
								<%= item.quantity %>
								<% end %>
							</td>
							<td class="item-weight">
								<%= "#{'%.0f' % item.total_weight.grams} g" %>
							</td>
							<td class="item-weight">
								<%= "#{'%.1f' % item.total_weight.ounces} oz" %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<% end %>
		</div>
</body>
</html>