<!DOCTYPE html>
<html>
	<head>
		<title>Packlist - <%= packlist.name %></title>
		<style type="text/css">
				<%= partial '../stylesheets/system-font' %>
				<%= partial '../stylesheets/report' %>
		</style>
	</head>
	<body>
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none">
			<%= partial "../images/worn.svg" %>
			<%= partial "../images/consumed.svg" %>
		</svg>

		<header>
			<h1><%= packlist.name %></h1>
			<p><%= packlist.description %></p>
		</header>

		<section>
			<div class="summary">
				<table>
					<thead>
						<tr>
							<th>Category</th>
							<th>Weight</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td>Base</td>
							<td class="weight"><%= packlist.base_weight.lb %></td>
						</tr>
						<tr>
							<td>Consumable</td>
							<td class="weight"><%= packlist.consumable_weight.lb %></td>
						</tr>
						<tr>
							<td>Worn</td>
							<td class="weight"><%= packlist.worn_weight.lb %></td>
						</tr>
						<tr>
							<td>Max Pack Weight</td>
							<td class="weight"><%= packlist.total_pack_weight.lb %></td>
						</tr>
						<tr>
							<td>Total</td>
							<td class="weight"><%= packlist.total_weight.lb %></td>
						</tr>
					</tfoot>
					<tbody>
						<% for category in packlist %>
							<tr>
								<td><%= category.name %></td>
								<td><%= category.total_weight.lb %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>

			<div class="categories">
				<% for category in packlist %>
				<div class="category">
					<h2><%= category.name %></h2>

					<table>
						<tfoot>
							<tr>
								<td colspan="2"></td>
								<td class="subtotal" colspan="3">Subtotal</td>
								<td class="numeric">
									<%= category.total_weight.g %>
								</td>
								<td class="numeric">
									<%= category.total_weight.lb %>
								</td>
							</tr>
						</tfoot>
						<tbody>
							<% for item in category %>
							<tr>
								<td>
									<input type="checkbox">
								</td>
								<td class="item-type">
									<% if item.worn? %>
										<svg class="icon worn">
											<use xlink:href="#worn" />
										</svg>
									<% elsif item.consumable? %>
										<svg class="icon consumable">
											<use xlink:href="#consumed" />
										</svg>
									<% end %>
								</td>
								<td class="item-name">
									<%= item.name %>
								</td>
								<td class="item-description">
									<%= item.description %>
								</td>
								<td class="quantity">
									<% if item.quantity != 1 %>
									<%= item.quantity %>
									<% end %>
								</td>
								<td class="item-weight">
									<%= item.total_weight.g %>
								</td>
								<td class="item-weight">
									<%= item.total_weight.oz %>
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<% end %>
			</div>
		</section>
</body>
</html>